include ./layouts/header
+header('Welcome')
body
  include ./layouts/table-header
    tr
      td
        p.title Welcome to Company!
    tr
      td
        p.description.pt-16
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          | Velit temporibus nesciunt corrupti nisi accusantium possimus, 
          | beatae laborum assumenda iusto ducimus fuga exercitationem 
          | sequi rem, non debitis amet. Corporis, facilis tempora?Vitae 
          | iste distinctio aliquid ullam laudantium libero, aspernatur id, 
          | ratione officia dolorem eius ducimus? Ipsa nobis magnam porro 
          | reprehenderit! Assumenda, corporis sapiente. Corrupti recusandae 
          | illum ratione sed! Corporis, nemo voluptatem?Veritatis ipsa reprehenderit deleniti eligendi praesentium. 
          
    tr
      td
        p.description.pt-16 Follow us on&nbsp;
    tr
      td
        p.description.pt-16 Please feel free to share and comment.
    tr
      td
        p.description.pt-16 We will appreciate your feedback.
    include ./layouts/footer
