tr
  td.pt-32(height="0")
    div.divider

tr
  td.pt-24
    center
      a(href="https://google.com") Site Logo
tr
  td.pt-24
    center
      p.copyright= 'Copyright © 2012-' + new Date().getFullYear() + ' Company. All rights reserved.'

tr
  td.pt-24(height="0")
    div.divider
tr
  td.pt-32
    p.risks
      | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae sit mollitia, 
      | voluptatum aliquam ad ducimus? Deserunt maxime, mollitia quaerat sapiente nam 
      | inventore repellendus iusto. Aut cumque eos alias minus distinctio.Beatae adipisci, 
      | cumque explicabo inventore, ab nihil architecto ipsam impedit nisi fuga modi, 
      | assumenda harum sint pariatur voluptate natus totam molestias. Laudantium 
      | dignissimos consectetur reiciendis maiores laboriosam ab voluptate officiis.
      | Et pariatur earum animi illo, porro assumenda id, quisquam quia explicabo iste ipsa 
      | repellat tenetur exercitationem! Deserunt itaque sed et eveniet alias inventore, 
      | saepe explicabo aliquam ipsa officiis rerum repellat.Harum, accusantium. 
