center.wrapper
  table.main-wrapper
    tr
      td
        table.main(width="100%")
          tr
            td(height="124")
              center
                a(href="https://google.com/") Company logo
          tr
            td.pt-24(height="0")
              .divider
